body{
	background-color:#f4f7f8;
	font-family:Trebuchet MS;
}
.header{
	text-align:center;
	font-size:30px;
}

span{
	background-color:#5fcf80;
	color:white;
	padding:5px;
}

form{
	margin-left:35%;
	width:20%;
	height:500px;
}

input{
	background-color:#e8eeef;
}
